<!DOCTYPE html>
<html>
<head>
	<title>Automated Waste Segregation</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Open+Sans&family=Staatliches&display=swap" rel="stylesheet">
	<script src="https://use.fontawesome.com/c8f51b1d79.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


</head>
<style type="text/css">
	body {
		font-family: 'Open Sans', sans-serif;
		background: linear-gradient(to left, #000000 0%, #006699 100%);

	}
	.modal-body{
		font-family: 'Merriweather', serif;

	}
	.modal{
		border-radius: 35px;
	}
	/* Split the screen in half */
	.split {
		height: 100%;
		width: 50%;
		position: fixed;
		z-index: 1;
		top: 0;
		overflow-x: hidden;
		padding-top: 20px;
	}

	/* Control the left side */
	.left {
		left: 0;
	}
	/* Control the right side */
	.right {
		right: 0;
	}
	.navbar-inner {
		height: 40px;
	}
</style>
<!-- <body style="background-image: url('/static/images/bg.jpg');"> --> 
	<body>

		<!-- NAVBAR -->
		<nav class="navbar navbar-expand-lg navbar-dark py-3" style="background-color: black;">
			<a class="navbar-brand" href="#">Automated Waste Segregation <i class="fa fa-recycle"></i></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown inline">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: larger;">
							Segregate
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: black;color: white;">
							<a class="dropdown-item" href="{{url_for('index')}}" style="color: white;background-color: black;">Capture Image</a>
							<a class="dropdown-item" href="{{url_for('upload')}}" style="color: white;background-color: black;">Upload Image</a>
						</div>
					</li>
				</ul>
			</div>

			<div class="collapse navbar-collapse" id="navbarSupportedContent2">
				<ul class="navbar-nav" style="margin-left: 55%;">
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('about')}}" style="font-size: larger;">About Us<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active" style="">
						<a class="nav-link" href="{{url_for('minfo')}}" style="font-size: larger;">Model Info</a>
					</li>
				</ul>
			</div>
		</nav>

		<!-- CARD -->
		<div class="card" style="width: 60rem;height: 37rem;margin-left: 300px;margin-top: 30px;border-radius: 15px;">
			<div class="card-body">
				<h2 class="card-title" style="margin-left: 350px;">Model Info</h2>
				<hr style="height:3px;border:none;color:black;background-color:black;" />
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<p class="card-text" style="font-size: 19px;">The model used by us is a Resnet-34 model, which is a classic Neural Network. This is a model that has been pre-trained on the ImageNet dataset-a dataset that has 100,000+ images across 200 different classes. We further trained it with our own custom dataset and created 15 labels corresponding to 15 classes of daily household waste categories. The model was trained for 10 epochs, with the accuracy improving over each epoch. The table below gives details of the dataset.</p> 
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<table class="table table-sm table-dark table-bordered" style="width: 450px;margin-left: 0px;margin-top: 20px;">
								<caption style="caption-side:bottom;color: black;margin-top: 0px;margin-left: 140px;"><i>Details of Dataset</i></caption>
								<thead>
									<tr>
										<th scope="col">Class</th>
										<th scope="col">Dataset Count</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Plastic Items</td>
										<td style="text-align: center;">589</td>
									</tr>
									<tr>
										<td>Kitchen waste, Wood and Leaves</td>
										<td style="text-align: center;">210</td>
									</tr>
									<tr>
										<td>Pen, Paper and Glass</td>
										<td style="text-align: center;">649</td>
									</tr>
									<tr>
										<td>Bags and Cardboards</td>
										<td style="text-align: center;">461</td>
									</tr>
									<tr>
										<td>Wrappers, Cans and Thermacols</td>
										<td style="text-align: center;">385</td>
									</tr>
									<tr>
										<td>Masks, Straws and Teabags</td>
										<td style="text-align: center;">272</td>
									</tr>
									<tr>
										<td class="bg-primary">Total Training Images</td>
										<td class="bg-primary" style="text-align: center;">2566</td>
									</tr>

								</tbody>
							</table>
							
						</div>
						<div class="col-lg-6" style="margin-top: 20px;margin-left: 0px;font-size: 19px;">
							<p>We made use of a confusion matrix to identify the classes that were most confused with one another and able to make our model more efficient using that as feedback. To view the confusion matrix, <a href="" data-toggle = "modal" data-target = "#exampleModal"><i>click here</i></a>. Based on the class predicted by the model, we classify the waste as biodegradable or non-biodegradable. The accuracy of the model was computed using the confusion matrix, based on the times items from one class were mistaken for items belonging to another class. The accuracy of our model is <b><i>93%</i></b>.</p>
							
						</div>
					</div>
					<div class="row">
						<!--Link to view Modal -->
						

						<!-- Modal -->
						<div class="modal fade rounded" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content" style="border-radius: 15px;">
									<div class="modal-header">
										<h1 class="modal-title font-weight-bold" id="exampleModalLabel" style="margin-left: 25%;">Confusion Matrix</h1>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body" style="border-radius: 15px;">
										<img src="/static/images/confusion_matrix.png">
									</div>
								</div>
							</div>
						</div>
						
					</div>

					
					

				</div>


			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
	</html>