<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .modal-backdrop {
  z-index: -1;
}
    </style>

    <title>Capture Image</title>

<!--

Breezed Template

https://templatemo.com/tm-543-breezed

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="static/css/font-awesome.css">

    <link rel="stylesheet" href="static/css/templatemo-breezed.css">

    <link rel="stylesheet" href="static/css/owl-carousel.css">

    <link rel="stylesheet" href="static/css/lightbox.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            AUTOMATED WASTE SEGREGATION
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">About</a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
  

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item" style="background-image: url('/static/images/slide-01.jpg');">
            <div >
             
                <br><br>
                <!-- Button trigger modal -->

                <form method="POST" enctype="multipart/form-data" id="myForm">
                </form>
                <!-- Stream video via webcam -->
                <div class="container" style="margin-left: 250px;margin-top: 50px">
                    
            
                <div class="video-wrap">
                    <video id="video" playsinline autoplay="true"> </video>
                </div>
                    
            
                <!-- Trigger canvas web API -->
                <div class="controller" style="margin-top: 20px;  margin-right: 500px;">
                   
                   <!-- Button to trigger Modal -->
                    <button id="snap" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal" onclick="modal_fun()">Capture</button> &nbsp; &nbsp;        
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title" id="exampleModalLabel" style="text-align: center;">Image Captured</h1>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <!-- Webcam video snapshot -->
                    <canvas id="canvas" width="640" height="480"></canvas>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Re-take</button>
                            <input type="button" value="Submit" class="btn btn-success" onclick="upload()">

                          </div>
                        </div>
                      </div>
                    </div>


                    
                </div> <br><br>
            
                
                </div>
            
                <script>
            
                    'use strict';
                    const video = document.getElementById('video');
                    const canvas = document.getElementById('canvas');
                    const snap = document.getElementById('snap');
                    const errorMsgElement = document.getElementById('span#ErrorMsg');
            
                    const constraints = {
                        video :{
                            width: 1000, height: 500
                        }
                    };
            

                    function modal_fun() {
                        $('#exampleModal').appendTo("body").modal('show');

                    }

                    //Access Webcam
                    async function init(){
                        try{
                            const stream = await navigator.mediaDevices.getUserMedia(constraints);
                            handleSuccess(stream);
                        }
                        catch(e){
                            errorMsgElement.innerHTML = `navigator.getUserMedia.error:${e.toString()}`;
                        }
                    }
            
                    //success
                    function handleSuccess(stream){
                        window.stream = stream;
                        video.srcObject = stream;
                    }
            
                    //load init
                    init();
            
                    //Draw image
                    var context = canvas.getContext('2d');
                    snap.addEventListener("click",function () {
                        context.drawImage(video, 0,0,640,480);
                    });
            
                    function upload() {
                    console.log("Uploading...")
                    var image = document.getElementById('canvas').toDataURL();
                    var form = document.getElementById('myForm');
                    var formData = new FormData(form);
                    formData.append("file", image); //key-value pair
                    var xmlhttp = new XMLHttpRequest();
                    xmlhttp.open("POST", "/handleimage");
            
                    // check when state changes, 
                    xmlhttp.onreadystatechange = function() {
            
                if(xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    alert(xmlhttp.responseText);
                    }
                }
            
                xmlhttp.send(formData);
                console.log(formData.get('file'));
                console.log(formData.get('userID'));
            }
            
                </script>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <div class="scroll-down scroll-to-section"><a href="#about"><i class="fa fa-arrow-down"></i></a></div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>About Us</h6>
                            <h2>We work to help the munipal corporation to segregate waste materials easily</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="static/images/service-item-01.png" alt="">
                                    <h4>Top Notch</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="static/images/service-item-01.png" alt="">
                                    <h4>Robust</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="static/images/contact-info-03.png" alt="">
                                    <h4>Reliable</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="static/images/contact-info-03.png" alt="">
                                    <h4>Up-to-date</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-text-content">
                        <p>We are final year students from Department of Computer Science and Engineering, The National Institute of Engineering, Mysore. 
                        <br><br>We aim to help the coporation in automating the process of waste segregation .
                      <br><br>Rag pickers currently have to segregate the wastes manually in the dump yard , leading to birth of many diseases due to its unhygenic conditions. We strive to eliminate this procedure by automating the process</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content">
                        <p>Automated Waste Segregation &copy; NIE, Mysore.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="static/js/popper.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="static/js/owl-carousel.js"></script>
    <script src="static/js/scrollreveal.min.js"></script>
    <script src="static/js/waypoints.min.js"></script>
    <script src="static/js/jquery.counterup.min.js"></script>
    <script src="static/js/imgfix.min.js"></script> 
    <script src="static/js/slick.js"></script> 
    <script src="static/js/lightbox.js"></script> 
    <script src="static/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="static/js/custom.js"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>